/* AI assited in areas of confustion. It was used as a tool to help overcome roadblocks,
and come up with ideas on how to perform a specific task when I was stuck. */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header.show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

header.show h1 {
    grid-column: span 2;
    place-self: center;
}
/* AI helped me figure out how to wayfind */
header.show button {
    place-self: center;
}
.nav-bar a {
    border: solid black;
    padding: 1rem;
}

.nav-bar a:hover {
    background-color: rgba(0, 0, 128, 0.1);
}

.nav-bar a.active {
    background-color: navy;
    color: white;
}
/* AI helped me itentify this color contrast issue.  */
body {
    background-color: #f5f0e8;
    color: #001f3f;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#ham-btn::before {
    content: "\2630";
}

#ham-btn.show::before {
    content: "\00D7";
}

.nav-bar {
    display: none;
}

.nav-bar.show {
    display: flex;
    grid-column: span 2;
    flex-direction: row;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
#form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    place-items: center;
}

form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.445);
}
#application{
    align-items:center;
    align-content:center;
    text-align:center;
    border-right: black 5px;
}
#appointment {
    align-items: center;
    align-content: center;
    text-align: center;
    border-right: black 5px;
}

footer {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}