@media screen and (max-width:38rem){
    body{
        background-color:#F5F0E1;
        font-family: "Roboto", sans-serif;
    }
    header{
    display: grid;
    grid-template-columns: 24px auto auto;
    align-items: center;
    justify-content: space-around;
    border: solid black;
}
footer {
    border: solid black;
}

#ham-btn::before {
    content: "\2630";

}

#ham-btn.show::before {
    content: "\00D7"

}
.navigation {
    display: none;
}

.navigation.show {
    display: flex;

}

.navigation li {
    list-style-type: none;
    padding: 2px;

}
header div img {
    width: 44px;
    height: 44px;
}
footer div img {
    width: 44px;
    height: 44px;

}
#cards {
    display: flex;
    flex-direction:column;
}
section {
    background-color: lightblue;
    padding: 15px;
}

}