@media screen and (max-width:38rem){
    body{
        background-color:#F5F0E1;
        font-family: "Roboto", sans-serif;
    }
    header{
    display: grid;
    grid-template-columns: 24px auto auto;
    align-items: center;
    justify-content: space-around;
    border: solid black;
}

a {
    text-decoration: none;
}

footer {
    border: solid black;
}

#ham-btn::before {
    content: "\2630";

}

#ham-btn.show::before {
    content: "\00D7"

}
.navigation {
    display: none;
}

.navigation.show {
    display: flex;

}

.navigation li {
    list-style-type: none;
    padding: 2px;

}
header div img {
    width: 44px;
    height: 44px;
}
footer div img {
    width: 44px;
    height: 44px;

}
#cards.show {
    display: flex;
    flex-direction:column;
}
#cards.hide {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    max-width: 600px;
    margin: 0 auto;
}
#cards.show{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
#bar-btn::before{
    content: "One Column";
}

section {
    background-color: lightblue;
    padding: 15px;
}

}