
    body {
        background-color: #F5F0E1;
        font-family: "Roboto", sans-serif;
    }

    header {
        display: grid;
        grid-template-columns: 24px auto auto;
        align-items: center;
        justify-content: space-around;
        border: solid black;
    }

    a {
        text-decoration: none;
    }

    footer {
        border: solid black;
    }

    #ham-btn::before {
        content: "\2630";

    }

    #ham-btn.show::before {
        content: "\00D7"

    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: flex;

    }

    .navigation li {
        list-style-type: none;
        padding: 2px;

    }

    header div img {
        width: 44px;
        height: 44px;
    }

    footer div img {
        width: 44px;
        height: 44px;

    }

    #card-container section {
        display: grid;
        grid-template-areas:
            "name"
            "image"
            "location"
            "description";
    }

    #card-container section h2 {
        grid-area: name;

    }

    #card-container section img {
        grid-area: image;
    }

    #card-container section address {
        grid-area: location;
    }

    #card-container section p {
        grid-area: description;
    }


    section {
        background-color: lightblue;
        padding: 15px;
    }