@media screen and (max-width:38rem) {
    body {
        background-color: #F5F0E1;
        font-family: "Roboto", sans-serif;
    }

    header {
        display: grid;
        grid-template-columns: 24px auto auto;
        align-items: center;
        justify-content: space-around;
        border: solid black;
    }

    a {
        text-decoration: none;
    }

    footer {
        border: solid black;
    }

    #ham-btn::before {
        content: "\2630";

    }

    #ham-btn.show::before {
        content: "\00D7"

    }

    .navigation {
        display: none;
    }

    .navigation.show {
        display: flex;

    }

    .navigation li {
        list-style-type: none;
        padding: 2px;

    }

    header div img {
        width: 44px;
        height: 44px;
    }

    footer div img {
        width: 44px;
        height: 44px;

    }

    #cards.show {
        display: flex;
        flex-direction: column;
    }

    #cards.hide {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        place-items: center;
        max-width: 600px;
        margin: 0 auto;
    }

    #cards.show {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    #bar-btn::before {
        content: "One Column";
    }

    section {
        background-color: lightblue;
        padding: 15px;
    }
    main img {
        display: block;
        width: 100vw;
        max-width: 100vw;
        height: auto;
        margin-left: calc(50% - 50vw);
    }
    #call::before{
        content:"Join";
    }
    #call{
        position: absolute;
        right: 16px;
        bottom: 16px;
        padding: 10px 14px;
    }
    .hero{
        position:relative; 
        width:80%; 
        max-width:1200px; 
        margin:0 auto;
    }
    .events{
        display:flex;
    }
    .events{
        display:flex;
    }

    #weatherforecast {
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
    }
   
    #weatherforecast img {
        width: 48px;
        height: 48px;
        display: block;
        margin: 0 auto 0.25rem auto;
    }
    #weather-icon {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto 0.25rem auto;
    }
    p {
        margin: 0;
        font-size: 0.9rem;
    }
    .card {
        text-align: center;
        min-width: 80px;
    }

}