@media only screen and (min-width:38rem){
    main{
        background-color:#F5F0E1;

    }
    header {
    display: grid;
    grid-template-columns: 44px auto auto;
    align-items: center;
}

.nav {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    /* I asked AI how to get rid of the bullet points in the list and it helped me out. */
    list-style: none;
    margin: 0;
    padding: 0;
}
#ham-btn{
    display: none;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#footerTitle {
    text-align: center;
}
.links {
    text-align: center;
    
}
.content {
    text-align:center;
}
div img {
    width:44px;
    height:44px;
}

}