@media only screen and (min-width:38rem){
    body{
        background-color:#F5F0E1;
        font-family: "Roboto", sans-serif;
    }
    header {
    display: grid;
    grid-template-columns: 44px auto auto;
    align-items: center;
    border:solid black;
    
}



.navigation {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    /* I asked AI how to get rid of the bullet points in the list and it helped me out. */
    list-style: none;
    margin: 0;
    padding: 0;
    
}
#ham-btn{
    display: none;
}
footer {
    text-align: center;
}
#footerTitle {
    text-align: center;
}
.links {
    text-align: center;
    
}
.content {
    text-align:center;
}
header div img {
    width:44px;
    height:44px;
}
footer div img {
    width: 44px;
    height: 44px;

}

#cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center; /* centers content inside each grid cell */
    max-width: 1200px;
    margin: 0 auto; /* centers the grid itself on the page */
}
section{
    background-color: lightblue;
    padding: 15px;
}

}