@media only screen and (min-width:38rem){
    .hamburger{
        display:none;
    }
    header{
        grid-template-columns: 24px auto;
    }
    header span{
        text-align: center;
    }
    header,main,nav,footer{
        max-width:900px;
        margin: 0 auto;
    }
    .navigation{
    display: block;
    grid-column: 1/3;
    width: 100%;
  }
  .navigation ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    list-style-type:none;

  }
  .navigation li {
    border:solid rgb(255, 255, 255);
    padding:2px;
  }
  .navigation a{
    text-decoration: none;
    color:white;
  }
  .navigation li:hover {
    background-color:#FF6B01;

  }
  footer {
    display:grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
  }
  .links {
    display: flex;
    justify-content: space-around;
  }

  div.content {
    justify-items: center;
  }
  .courses ul{
    display:flex;
    justify-content: space-around;
  }
  .courses a {
    text-decoration:none;
    border:solid black;
    padding:5px;
  }
  .class li {
    display:flex;
    justify-content: space-around;
  }
  .class li {
    text-decoration:none;
    border: solid black;
    padding: 5px;
  }
  
  .class ul{
    list-style-type: none;
  }
  .courses ul{
    list-style-type: none;
  }
  main{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 30px 1fr 1fr;
  }
    #home {
      grid-column: 1/3;
      text-align: center;
      padding:0;
    }
    #home h1{
      background-color: white;
      color:#353535;
      font-size:larger;
    }
  .bottom{
    grid-column:1/3;
    text-align: center;
    }
  .about h1{
    text-align: center;
  }
  .photo h1{
    text-align:center;
  }
  p{
    padding:0px;
    margin:0px;
    border:0px
  }


}