@media only screen and (min-width:38rem){ 
    body {
            background-color: lightgrey;
        }
    
        main div {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));;
            gap: 1rem;
            padding: 1rem;
    
        }
    
        main {
            text-align: center;
        }
    
        header h1 {
            text-align: center;
        }
    
        section {
    
            border: 2px solid black;
            background-color: lightblue;
            border-radius: 8px;
        }
}
body {
    background-color: lightgrey;
}

div {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
main {
    text-align: center;
}

header h1 {
    text-align: center;
}

section {

    border: 2px solid black;
    background-color: lightblue;
    border-radius: 8px;
}





